[Unit]
Description=Scaling Generic Server
After=network-online.target

[Service]
Type=simple
User=root
Group=root
UMask=007
ExecStart=/opt/zeroscale/venv/bin/zeroscale --listen_port=8080 --server_port=9000
KillSignal=SIGINT
Restart=on-failure
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
