[Unit]
Description=Scaling Minecraft Server
After=network-online.target

[Service]
Type=simple
User=minecraft
Group=minecraft
UMask=007
ExecStart=/opt/minecraft/venv/bin/zeroscale minecraft 25565 25575
KillSignal=SIGINT
Restart=on-failure
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
